.fix3 {
    width: 100%;
    color: white;
    background: radial-gradient(108% 50.599999999999994% at 50% 0.5%,rgb(14 1 54 / 84%) 0%,#111013 100%);
}

.selection {
    max-width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content:space-between;
}


.tags {
    border: none;
    padding: 7px;
    width: fit-content;
    font-weight: bold;
    font-size: 12px;
    border-radius: 22px;
    background-image: linear-gradient(to right, #9c93cf 0%, #8e5ad3 1%, #b18fdd 100%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0.5px 4px;
    cursor: pointer;
}

        
.tags:hover {
    background-position: right center; 
}

.proj {
    justify-self: center;
    font-size: 72px;
    font-weight: bold;
}

.filters {
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
}

.filters button {
    background: none;
    border: none;
    padding: 8px;
    min-width: 3em;
    font-size: 20px;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 22px;
    font-weight: bold;
    overflow: hidden;
    transition: transform .2s;
}

.filters button:hover {
    transform: scale(1.02);
}

button.on {
    color: #6b5ad3;
    background-color: #f0f4fa;
}

.frame {
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    background-color: #ffffff0d;
    border-radius: 20px;
    margin-right: 2em;
    width: 400px;
    cursor: default;
    font-weight: bold;
    height: 450px;
    justify-content: space-between;
}


.frame img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.5px 4px;
    border-radius: 12px;
}

.hidden {
    color: aquamarine;
}


.descr {
    width: 332px;
    word-break : break-all;
    text-align: left;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



a.button-34, a.button-34:hover {
    color: white;
    text-decoration: none;
}

.button-34 {
    background: #8e5ad3;
    border-radius: 12px;
    box-shadow: #8e5ad3 0 5px 10px -5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 14px 24px;
    user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-right: auto;
}


.boas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sum {
    width: 28em;
    word-break : break-all;
    text-align: center;
}

.tit {
    font-size: 26px;
}

.rdm {
    transition: transform .2s;
    justify-content: flex-end;
}
         

.rdm:hover {
    transform: scale(1.04);
}

.second h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #2c2c2c;
    font-weight: bold;
    font-size: 35px;
}


.images {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}