.caixa {
    width: 40%;
}
button.drop {
    background-color: #1d1c1c;
    color: white;
    border-radius: 12px;
    display: flex;
    padding: 15px;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    border: none;
}

.drop .right {
    margin-left: auto;
}

.drop button {
    background: none;
    border: none;
    color: white;
}

.bottom {
    background-color: #1a191dee;
    padding: 16px;
    color: white;
    border-radius: 12px;
}