.fix4 {
    width: 100%;
    background-color: #ffffff;
    color: #202020;
}

.selection2 {
    margin-left: 5%;
    margin-right: 5%;
    align-items: flex-start; 
    height: 100%;
}

.lista {
    width: 100%;
    align-items: center;
}

.oioi {
    align-self: center;
}

.picture {
    align-items: flex-start;
    margin-left: 5%;
}
.picture img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}

.temp {
    width: 100%;
}