.fix4 {
    width: 100%;
}
.selection2 {
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    height: 84vh;
}

.abt {
    font-size: 72px;
}

.pic img{
    border-radius: 20%;
}

.oioi {
    display: flex;
    justify-content: center;
    text-align: center;
}

.texto {
    width: 600px;
    word-wrap: break-word;
}

.rght {
    margin-left: 5em;
}

.cv {
    background: #6b5ad3;
    border-radius: 12px;
    box-shadow: #6b5ad3 0 5px 10px -5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 18px 28px;
    width: fit-content;
    word-break: break-word;
    border: 0;
    transition: transform .2s;
}

.cv:hover {
    background: #644df7;
    transform: scale(1.04);
}

.pronto {
    align-items: center;
}
.sheader {
    border-bottom: 2px solid black;
}

.container {
    font-weight: bold;
}

.skills {
    text-align: center;
}
.container img {
    border-radius: 50%;
    background-color: rgba(235, 235, 235, 0.548);
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(0, 0, 0, 0.15);
    transition: transform .2s;
}

.container img:hover {
    transform: scale(1.08);
}

.jojo {
    flex-direction: column;
    align-items:  center;
}

.me {
    box-shadow: #585858 0 5px 10px -5px;

}