.fix4 {
    width: 100%;
    background-color: #ffffff;
    color: #202020;
}
.selection2 {
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    height: 100%;
}

.abt {
    font-size: 72px;
}

.pic img{
    border-radius: 20%;
}

.oioi {
    display: flex;
    justify-content: center;
    text-align: center;
}

.texto {
    width: 600px;
    word-wrap: break-word;
}

.rght {
    margin-left: 5em;
}

a.cv, a.cv:hover {
    color: white;
    text-decoration: none;
}

.cv {
    background: #6b5ad3;
    border-radius: 12px;
    box-shadow: #6b5ad3 0 5px 10px -5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 28px;
    word-break: break-word;
    border: 0;
    transition: transform .2s;
}

.cv:hover {
    background: #644df7;
    transform: scale(1.04);
}

.pronto {
    align-items: center;
}
.sheader {
    border-bottom: 2px solid black;
}

.container {
    font-weight: bold;
}

.skills {
    text-align: center;
}
.skillsCont  {
    transition: transform .2s;
}

.skillsCont:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.jojo {
    flex-direction: column;
    align-items:  center;
}

.me {
    box-shadow: #585858 0 5px 10px -5px;
}

.skillsCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsCont span {
    margin-left: 0.5em;
}
.skillsCont:not(:first-child) {
    margin-left: 5em;
}

.conti {
    padding: 2rem 3rem;
    display: inline-block;
    border: 3px solid #333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
}

.conti::before {
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}
